<section
    class="flex flex-col-reverse sm:flex-row pt-24 pb-20 items-center gap-16"
>
    <article class="flex flex-col gap-14">
        <h1
            class="font-black text-light-texto-primary dark:text-dark-texto-primary text-[2.5rem]"
        >
            About me<span class="text-primary">.</span>
        </h1>
        <div
            class="flex flex-col gap-4 text-[1.1rem] sm:text-base text-light-texto-secondary dark:text-dark-texto-secondary"
        >
            <p>
                Over the past two years of diving into computer science, I've developed a strong passion for back-end development. Working on various personal and school projects has fueled my desire to optimize and boost efficiency.  I thrive in collaborative environments, constantly learning from professors and peers while pushing myself to tackle new challenges. I'm excited to leverage these experiences and contribute my back-end skills to your team!
            </p>
            <p>
                Looking forward, I am eager to continue contributing to impactful projects and teams.
                My goal is to leverage my skills in full-stack development,
                particularly in the back-end, to drive innovation and efficiency.
                As I grow in my career, I remain committed to excellence, continuous learning,
                and the collaborative spirit that has characterized my journey so far.
            </p>
        </div>
    </article>
    <img
        class="rounded-full h-[170px] w-[170px] sm:w-[200px] sm:h-[200px]"
        src="/photo.webp"
        alt="Dan Chavez - Full-stack Developer"
        loading="lazy"
    />
</section>
